.main-section {
    background-image: url('../img/img-main.jpeg');
    background-size: cover; /* La imagen cubrirá todo el ancho y largo */
    background-position: center;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
}


.video-container iframe {
    width: 100%; /* Hace que el video ocupe todo el ancho de la card */
    height: 200px; /* Puedes ajustar la altura */
    border: none; /* Eliminar el borde del iframe */
  }


